__pycache__/
.ipynb_checkpoints
/songgen/processing_songgen_old.py
/songgen/xcodec_wrapper/xcodec_infer
/training/
/jupyter
/outputs
/helpers
requirement.txt
# setup.py
/scripts
/wandb
/build
songgen.egg-info